box-shadow(args...)
   -webkit-box-shadow args
   -moz-box-shadow args
   box-shadow args

body
	background-color whiteSmoke

.row
	width 2560px

.top-bar
	.name
		h1
			font-family "Oswald"
			a
				color #e36b23 !important

.nav-bar
	background #2a333c !important
	li
		:hover
			background #0b0d0f !important

#deck
	box-shadow 5px 5px 5px 1px #bbb
	padding-bottom 20px
	margin-top -8px

#links
	margin-top -44px
	text-align right
	img
		border solid 2px #2a333c
		padding 5px