body {
  background-color: whiteSmoke;
}
.row {
  width: 2560px;
}
.top-bar .name h1 {
  font-family: "Oswald";
}
.top-bar .name h1 a {
  color: #e36b23 !important;
}
.nav-bar {
  background: #2a333c !important;
}
.nav-bar li :hover {
  background: #0b0d0f !important;
}
#deck {
  -webkit-box-shadow: 3px 5px 10px 1px #bbb;
  -moz-box-shadow: 3px 5px 10px 1px #bbb;
  box-shadow: 3px 5px 10px 1px #bbb;
  padding-bottom: 20px;
  background-color: #fff;
}
#links {
  margin-top: -44px;
  text-align: right;
}
#links img {
  border: solid 2px #2a333c;
  padding: 5px;
}
.social-icon {
  font-size: 2em;
}
#suggest {
  padding: 0px 20px 1px;
}
