<?php include("header.php"); ?> 
<?php include("php/meta.php"); meta("About - 140Photography", "Twitter directory about photography and imaging related matters"); ?>  
<?php include("nav.php"); ?>

br
.row
	.twelve.columns
		h2 About
		p
			| 140Photography is an awesome service for photographers, photo enthusiast and everybody else involved in the photography industries. 
		p
			|	Here you can find all the best tweets about photography, all hand selected by our team with extreme care.
		p 
			| Whe know that could be really hard to get oriented in the twitter universe, and not only for newcomers. Filtering and organizing the users per arguments is a solution in which we believe. 
		p
			|	We hope you will find this website useful and please do not esitate to contact us for any suggestion, we'd love to hear from you any bad or good news.

<?php include("footer.php"); ?>
<?php include("tail.php"); ?>