<?php include("header.php"); ?> 
<?php include("php/meta.php"); meta("Photography"); ?>  
<?php include("nav.php"); ?>
<?php include("php/contact.php"); ?>

- var self = "/140Photography/contact.php"

br
.row

  //- Contact Details

  .nine.columns
    
    form(method="post", action="#{self}")
      ul.tabs-content.contained
        li#contactFormTab.active
          .row.collapse
            h3 Get in Touch!
            p We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you. We love getting email all day <em>all day</em>.
            .two.columns
              label.inline Your Name
            .ten.columns
              input.yourName(type="text", name="yourName")
          .row.collapse
            .two.columns
              label.inline Your Email
            .ten.columns
              input.yourEmail(type="text", name="yourEmail")
          label What's up?
          textarea.message(rows="4", name="message")
          input.button.radius.button(type="submit", name="submit") Submit
          <?php if(isset($hasError)) { //If errors are found ?>
          br
          br
          .alert-box.alert
            | there was an error! check all the fields.
            a.close &times;
          <?php } ?>
          <?php if(isset($emailSent) && $emailSent == true) { //If email is sent ?>
          br
          br
          .alert-box.success
            | message sent!
            a.close &times;
          <?php } ?>


  //- End Contact Details


  //- Sidebar

  .three.columns

    h5 Social
    


  //- End Sidebar
  
  
<?php include("footer.php"); ?>
<?php include("tail.php"); ?>