<?php include("header.php"); ?> 
<?php include("php/meta.php"); meta("Contact Us - 140Photography", "Twitter directory about photography and imaging related matters"); ?>  
<?php include("nav.php"); ?>
<?php include("php/contact.php"); ?>

- var self = "http://140Photography.com/contact.php"

br
.row

  //- Contact Details

  .nine.columns
    
    form(method="post", action="#{self}")
      ul.tabs-content.contained
        li#contactFormTab.active
          .row.collapse
            h2 Get in Touch!
            p We'd love to hear from you. You can reach out to us with a message.
            p If you'd like to suggest us a Twitter User or a Twitter list that could fit in this site, feel free to let us know.
            p One of our awesome team members will get back to you.
            .two.columns
              label.inline Your Name
            .ten.columns
              input.yourName(type="text", name="yourName")
          .row.collapse
            .two.columns
              label.inline Your Email
            .ten.columns
              input.yourEmail(type="text", name="yourEmail")
          label What's up?
          textarea.message(rows="4", name="message")
          input.button.radius.button(type="submit", name="submit") Submit
          <?php if(isset($hasError)) { //If errors are found ?>
          br
          br
          .alert-box.alert
            | there was an error! check all the fields.
            a.close &times;
          <?php } ?>
          <?php if(isset($emailSent) && $emailSent == true) { //If email is sent ?>
          br
          br
          .alert-box.success
            | message sent!
            a.close &times;
          <?php } ?>


  //- End Contact Details


  //- Sidebar

  .three.columns

    h5 Social
    a(href="http://twitter.com/140photography", target="_blank") 
      i.icon-twitter-sign.social-icon
    &nbsp;
    a(href="http://www.facebook.com/140ph", target="_blank") 
      i.icon-facebook-sign.social-icon
    &nbsp;&nbsp;
    a(href="http://plus.google.com/u/0/b/115506636060602895618/115506636060602895618/posts", target="_blank")
      i.icon-google-plus-sign.social-icon
    


  //- End Sidebar
  
  
<?php include("footer.php"); ?>
<?php include("tail.php"); ?>