<?php include("header.php"); ?>
<?php include("php/meta.php"); meta("140Photography - twitter photography", "Twitter directory about photography and imaging related matters"); ?>
<?php include("nav.php"); ?>

br
  
#content.row
	#menu.three.columns.hide-for-small
		ul.nav-bar.vertical
		.panel.callout
			h5 
				a(href="#", onclick="location.href='contact.php';") ADD YOUR CONTENT!
		.fb-like-box(style="margin-left:-10px;", data-href="http://www.facebook.com/140ph", data-width="200", data-height="76", data-show-faces="false", data-stream="false", data-header="false")
		.g-plusone

	#menu-mobile.three.columns.show-for-small
		.select
			form
				select
		.row
			#suggest.button(onclick="location.href='contact.php';")
				h5(style="color: #fff;") ADD YOUR CONTENT!
			.fb-like-box(data-href="http://www.facebook.com/140ph", data-width="290", data-height="66", data-show-faces="false", data-stream="false", data-header="false")
			.g-plusone(data-size="tall")


	#deck.seven.columns
		h2#section-title

	br
	br

	#links.two.columns.side-nav.hide-for-small
		ul.side-nav
			li
				a(href="http://www.nyip.com/", target="_blank")
					img(src="images/nyip.jpeg", width="200")
			li
				a(href="http://www.nationalgeographic.com/", target="_blank")
					img(src="images/natgeo.png", width="200")
			li
				a(href="http://www.xrite.com/", target="_blank")
					img(src="images/xrite.png", width="200")
			li
				a(href="http://www.eikona.eu", target="_blank")
					img(src="images/eikona.png", width="200")
			li
				a(href="http://hipstamatic.com/", target="_blank")
					img(src="images/hipsta.jpg", width="200")
			li
				a(href="http://www.edelkrone.com/", target="_blank")
					img(src="images/edelkrone.png", width="200")
			li
				a(href="http://www.sandisk.com/", target="_blank")
					img(src="images/sandisk.png", width="200")
			li
				a(href="http://officinefotografiche.org/", target="_blank")
					img(src="images/officine.png", width="200")
			li
				a(href="http://www.adorama.com", target="_blank")
					img(src="images/adorama.png", width="200")
			li
				a(href="http://www.worldpressphoto.org/", target="_blank")
					img(src="images/wpph.jpg", width="200")
  

<?php include("footer.php"); ?>
<?php include("tail.php"); ?>