<?php include("header.php"); ?>
<?php include("php/meta.php"); meta("140Photography"); ?>
<?php include("nav.php"); ?>

br
br
br
br
br
  
#content.row
	#menu.three.columns.hide-for-small
		ul.tabs.vertical(data-bind="foreach: sections")
			li(data-bind="attr: {'id': title}, click: $root.loadList")
				a(href="#", data-bind="text: title")

	#menu-mobile.three.columns.show-for-small
		form
			select(data-bind="options: sections, optionsText: 'title', value: $root.activeSection")

	#deck.six.columns
		h2#section-title

	br
	br

	#links.three.columns.panel
		h5
			i.icon-link
			| &nbsp;link
		ul.side-nav
			li
				a(href="#")
					img(src="images/adorama.png", width="200")
			li
				a(href="#")
					img(src="images/natgeo.png", width="200")
			li
				a(href="#")
					img(src="images/eikona.png", width="200")
			li
				a(href="#")
					img(src="images/nyip.jpeg", width="200")
			li
				a(href="#")
					img(src="images/officine.png", width="200")
  

<?php include("footer.php"); ?>
<?php include("tail.php"); ?>