<?php include("header.php"); ?>
<?php include("php/meta.php"); meta("titolo"); ?>
<?php include("nav.php"); ?>

br
  
#content.row
	#menu.three.columns.hide-for-small
		ul.tabs.vertical

	#menu-mobile.three.columns.show-for-small
		.select
			form
				select

	#deck.six.columns.panel
		h1#section-title

	#links.three.columns
  

<?php include("footer.php"); ?>
<?php include("tail.php"); ?>