<?php include("header.php"); ?>
<?php include("php/meta.php"); meta("titolo"); ?>
<?php include("nav.php"); ?>

br
  
#content.row
	#menu.three.columns.hide-for-small
		ul.tabs.vertical

	#menu-mobile.three.columns.show-for-small
		.select
			form
				select

	#deck.six.columns
		h1#section-title

	#links.three.columns.panel
		h5
			i.icon-link
			| &nbsp;link
		ul.side-nav
			li
				a(href="#")
					img(src="images/adorama.png", width="200")
			li
				a(href="#")
					img(src="images/natgeo.png", width="200")
			li
				a(href="#")
					img(src="images/eikona.png", width="200")
			li
				a(href="#")
					img(src="images/nyip.jpeg", width="200")
			li
				a(href="#")
					img(src="images/officine.png", width="200")
  

<?php include("footer.php"); ?>
<?php include("tail.php"); ?>