<?php include("header.php"); ?> 
<?php include("php/meta.php"); meta("Photography"); ?>  
<?php include("nav.php"); ?>

br
.row
	h1
		i.icon-info-sign.icon-large
			| Condizioni di servizio
		br
		p
			| Queste Regole di Servizio ("Regole") regolano l'accesso e l'utilizzo dei servizi e siti web di 140Photography (i "Servizi"), e qualsiasi informazione, testo, grafica, foto o altro materiale caricato, scaricato o che appaia sui Servizi (collettivamente denominati "Contenuti").
		p
			| L'accesso e l'utilizzo dei Servizi è condizionato all'accettazione ed il rispetto di tali Regole. Accedendo o utilizzando i servizi, accetti di essere vincolato da queste Regole.
		h2 Condizioni di base
		p
			| Hai l’esclusiva responsabilità dell'uso che fai dei Servizi, di qualsiasi Contenuto caricato nei Servizi, e di ogni relativa conseguenza. Il Contenuto che inserisci, carichi o mostri sarà visibile agli utenti dei Servizi (vai su Twitter alla pagina impostazioni dell'utenza per controllare chi può vedere i tuoi Contenuti).
		p
			| Quello che dici su Twitter, anche utilizzando i codici di 140Photography, può essere visto istantaneamente in tutto il mondo.
		p
			| Puoi utilizzare il Servizio solo se sei nelle condizioni di poter utilizzare Twitter.
		p
			| I Servizi che 140Photography fornisce sono sempre in evoluzione e la forma e la natura dei servizi che 140Photography fornisce possono cambiare di volta in volta senza preavviso. In aggiunta, 140Photography può sospendere (in modo permanente o temporaneamente) la fornitura dei Servizi (o qualsiasi elemento all'interno dei Servizi) a te e agli utenti in generale e potrebbe non essere in grado di fornire alcun preavviso. Ci riserviamo anche il diritto di limitare l'utilizzo e l'immagazzinamento del servizio a nostra discrezione in qualsiasi momento senza preavviso.
		p
			| I Servizi possono includere pubblicità, che può essere mirata al Contenuto o alle informazioni presenti sui Servizi, a ricerche effettuate tramite i Servizi, o altre informazioni. Il tipo e la portata della pubblicità da parte di 140Photography sui Servizi sono soggette a cambiamenti. In considerazione della concessione di 140Photography all'accesso e all'utilizzo dei Servizi, l'utente accetta che 140Photography e i suoi fornitori terze parti e partner possono inserire tali annunci pubblicitari sui Servizi o in connessione con la visualizzazione del Contenuto o informazioni provenienti dai Servizi che siano inviati da te o da altri.
		h2 Contenuti
		p
			| Tutto il Contenuto è sotto l’esclusiva responsabilità di chi lo ha creato. Potremmo non monitorare o controllare il Contenuto pubblicato tramite i Servizi e non ci assumiamo nessuna responsabilità per detto Contenuto. Ogni uso o riferimento a qualsiasi Contenuto o materiale pubblicato tramite i Servizi o da te ottenuto tramite i Servizi è effettuato esclusivamente a tuo rischio.
		p
			| Non approviamo, supportiamo, rappresentiamo o garantiamo completezza, veridicità, accuratezza o affidabilità per qualsiasi eventuale Contenuto o comunicazione pubblicati tramite i Servizi, né sposiamo le opinioni espresse tramite essi. Utilizzandoli, sei quindi consapevole che potresti essere esposto a Contenuto, che potrebbe essere offensivo, dannoso, inesatto o comunque inappropriato, o in alcuni casi, frainteso o ingannevole. In nessun caso 140Photography sarà in qualche modo responsabile per il Contenuto, inclusi, ma non solo, eventuali errori, omissioni, perdite o danni di qualsiasi natura, dovuti all'uso di Contenuto pubblicato, inviato via email, trasmesso, oppure reso disponibile da altri Servizi o trasmesso altrove.
		h2 I tuoi diritti
		p
			| Mantieni i tuoi diritti per qualsiasi Contenuto da te inviato, pubblicato o visualizzato su o tramite i Servizi. Inviando, pubblicando o visualizzando il Contenuto su o tramite i Servizi, ci autorizzi globalmente, in via non esclusiva e royalty-free (con diritto di sub-licenza), ad utilizzare, copiare, riprodurre, gestire, adattare, modificare, pubblicare, trasmettere, visualizzare e distribuire tale Contenuto in qualsiasi mezzo o metodo di distribuzione (attualmente conosciuti o sviluppati successivamente).
		p
			| Acconsenti che con questa licenza 140Photography abbia il diritto di divulgare questo Contenuto ad altre società, organizzazioni o singole persone che collaborano con 140Photography per la condivisione delle informazioni, la trasmissione, la distribuzione o la pubblicazione di tale Contenuto su altri media e servizi, soggetti alle nostre Regole e condizioni per utilizzarli.
		p
			| 140Photography dispone di una serie di regole in continuo aggiornamento per definire come l'ecosistema dei partner possa interagire con il tuo contenuto. Queste regole esistono per permettere un ecosistema aperto, pensando per prima cosa ai tuoi diritti. Ma ciò che è tuo è tuo - tu sei il proprietario del tuo Contenuto.
		p
			| Questi utilizzi aggiuntivi da parte di 140Photography, o di altre aziende, organizzazioni o individui affiliati con 140Photography, verranno fatti senza che tu venga remunerato per il Contenuto che invii, posti, trasmetti o rendi disponibile in altri modi attraverso i Servizi.
		p
			| Sei responsabile dell'uso che fai del Servizio, di qualsiasi Contenuto da te fornito, e per tutte le conseguenze che ne derivano, compreso l'uso del tuo Contenuto da parte di altri utenti. Sei consapevole che il tuo Contenuto può essere ritrasmesso dai nostri utenti e se non hai il diritto di inviare il Contenuto destinato a tale uso, ne sarai ritenuto responsabile. Dichiari e garantisci di avere tutti i diritti, il potere e l'autorità necessaria a concedere i diritti qui garantiti per ogni Contenuto che fornisci.
		p
			| 140Photography ti conferisce una licenza personale, mondiale, non gravata da royalty, non cedibile e non esclusiva di utilizzare il software che ti venisse fornito gratuitamente da 140Photography come parte dei Servizi. Questa licenza ha il solo fine di consentirti di utilizzare e godere dei benefici dei Servizi così come vengono forniti da 140Photography, e nella maniera consentita da queste Condizioni.
		h2 Restrizione sul Contenuto ed uso dei Servizi
		p
			| Ci riserviamo il diritto in qualsiasi momento (ma non ne abbiamo l'obbligo) di rimuovere o rifiutare di distribuire qualsiasi contenuto che rientri nell'ambito dei Servizi e di chiudere utenze o reclamare il nome utente. Ci riserviamo inoltre di accedere, leggere, conservare e fornire qualsiasi informazione che dovessimo ragionevolmente ritenere necessaria per (i) soddisfare le esigenze di qualsivoglia legge applicabile, regolamento, processo legale o richiesta governativa, (ii) far rispettare le Regole, (iii) individuare, prevenire o altrimenti riferire in merito a frodi, sicurezza o questioni tecniche, (iv) rispondere a richieste di supporto degli utenti, oppure (v) proteggere i diritti, la proprietà o la sicurezza di 140Photography, dei suoi utenti e del pubblico.
		p
			| 140Photography non divulga informazioni personali a terzi se non in conformità con la normativa sulla privacy.
		h2 Norme sul diritto d'autore
		p
			| 140Photography rispetta i diritti di proprietà intellettuale altrui e si aspetta che gli utenti dei Servizi facciano lo stesso.
		p
			| Risponderemo alle segnalazioni di presunte violazioni del copyright purchè si conformino alla legge vigente e ci vengano correttamente fornite.
		p
			| Ci riserviamo il diritto di rimuovere un Contenuto oggetto di presunta violazione senza notifica di preavviso e a nostra unica discrezione.
		h2 I Servizi sono Disponibili "COSÌ COME SONO"
		p
			| L'accesso e l'uso dei Servizi o di qualsiasi contenuto è a tuo rischio e pericolo. Comprendi e accetti che i Servizi ti siano forniti su una base "COSÌ COM'È" e "COME DISPONIBILE". Senza limitare quanto sopra, 140Photography E I SUOI PARTNER DECLINANO OGNI GARANZIA, ESPLICITA O IMPLICITA, DI COMMERCIABILITÀ, IDONEITÀ PER UN PARTICOLARE SCOPO, O NON VIOLAZIONE. Non diamo alcuna garanzia e decliniamo ogni responsabilità per la completezza, precisione, disponibilità, puntualità, sicurezza o affidabilità dei Servizi o qualsiasi contenuto in essi. 140Photography non sarà responsabile o passibile per qualsiasi danno al sistema del tuo computer, perdita di dati, o altri danni risultanti dall'accesso o dall'uso dei Servizi, o da qualunque Contenuto. Accetti anche che 140Photography non abbia responsabilità per l'eliminazione, o le mancate archiviazione o trasmissione di qualunque Contenuto e altre comunicazioni mantenute dai Servizi. Non garantiamo che i Servizi rispecchino le tue richieste o saranno disponibili su base ininterrotta, sicura, o senza errori. Nessun consiglio o informazione, sia orali che scritti, ottenuti da 140Photography o attraverso i Servizi creeranno alcuna garanzia che non sia stata qui citata.
		h2 Link
		p
			| I Servizi possono contenere link a siti o risorse di terze parti. Riconosci e accetti che non siamo responsabili per: (I) la disponibilità o la precisione di tali siti o risorse; (II) il contenuto, i prodotti, o i servizi resi disponibili da tali siti o risorse. I collegamenti a questi siti o risorse non implicano alcuna approvazione da parte di 140Photography, sia nei confronti di tali siti o risorse, sia in relazione al contenuto, prodotti o servizi da questi resi disponibili. Riconosci quindi di essere il solo responsabile e ti assumi ogni rischio derivante dall'uso di tali siti web o risorse.
		h2 Privacy
		p
			| Ogni informazione che fornisci a 140Photography è soggetta a quanto indicato nella nostre Informativa sulla Privacy che spiega il modo in cui raccogliamo e utilizziamo i tuoi dati. Altresì è soggetta alla normativa sulla Privacy di Twitter. Attraverso l'uso dei Servizi acconsenti alla raccolta e al trattamento di queste informazioni.
		p
			| Nel metterti a disposizione i Servizi, potremmo aver bisogno di inviarti determinate comunicazioni, come ad esempio comunicazioni di servizio o messaggi amministrativi. Queste comunicazioni sono considerate parte integrante dei Servizi e del tuo account 140Photography, e potresti non avere modo di evitare di riceverle.
		h2 Limitazioni di responsabilità
		p
			| NELLA MISURA IN CUI LA LEGGE VIGENTE LO CONSENTE, 140Photography E I SUOI ASSOCIATI, AFFILIATI, DIRIGENTI, DIPENDENTI, AGENTI, COLLABORATORI E LICENZIATARI, NON SARANNO RESPONSABILI PER QUALSIASI DANNO DIRETTO, INDIRETTO, INCIDENTALE, SPECIALE, CONSEGUENTE O PUNITIVO, INCLUSI, A TITOLO ESEMPLIFICATIVO E NON LIMITATIVO, PERDITA DI GUADAGNO, DATI, UTILIZZO, BUONA VOLONTÀ, O ALTRE PERDITE IMMATERIALI, DOVUTE A: (I) ACCESSO O USO DEI SERVIZI O IMPOSSIBILITÀ DI ACCEDERVI O USARLI; (II) OGNI COMPORTAMENTO O CONTENUTO DI TERZE PARTI SUI SERVIZI, COMPRESI, SENZA LIMITAZIONI, COMPORTAMENTI DIFFAMATORI, OFFENSIVI O ILLEGALI DA PARTE DI ALTRI UTENTI O TERZE PARTI; (III) QUALSIASI CONTENUTO OTTENUTO DAI SERVIZI; (IV) ACCESSO NON AUTORIZZATO, UTILIZZO O ALTERAZIONE DI TUE TRASMISSIONI O CONTENUTO, SE BASATI SU GARANZIA, CONTRATTO, TORTO (INCLUSA LA NEGLIGENZA) O SU QUALSIASI ALTRA TEORIA LEGALE, ANCHE NEL CASO IN CUI 140Photography SIA STATO INFORMATO DELLA POSSIBILITÀ DI TALE DANNO ED ANCHE SE UN RIMEDIO QUI RIPORTATO NON SI RIVELI NECESSARIO AL SUO FINE ESSENZIALE.
		h2 Completezza dell'accordo
		p
			| Queste Condizioni, le regole di 140Photography e la nostra normativa sulla Privacy, sono il completo ed esclusivo accordo tra 140Photography e l'utente riguardo i Servizi (escludendo ogni servizio per cui c'è un accordo a parte con 140Photography, che è esplicitamente in aggiunta o in sostituzione delle presenti Condizioni), e queste Condizioni annullano e sostituiscono qualsiasi precedente accordo tra 140Photography e l'utente per quanto riguarda i Servizi.
		p
			| Potremmo modificare queste Condizioni di tanto in tanto, la versione più recente sarà sempre disponibile all'indirizzo 140Photography.it/condizioni_di_servizio. Qualora la revisione, a nostra unica discrezione, sia da considerarsi considerevole, te lo comunicheremo tramite un aggiornamento sull'utenza @140Photography o via email all'indirizzo associato alla tua utenza.
		p
			| Continuando ad accedere o ad utilizzare i Servizi dopo che tali modifiche siano diventate effettive, accetti di essere vincolato alle nuove Condizioni.



<?php include("footer.php"); ?>
<?php include("tail.php"); ?>